._pixelPilotMainWrapper{
    background-color: white;
    border: 1px solid #f04444;
    color: #444;
    font-size: 12px;
    position: fixed;
    border-radius: 4px;
    user-select: none;
}
._pph_body::-webkit-scrollbar {
    width: 0px;
}
._pixelPilotMainWrapper ._pp_colorBoxClose {
    display: none;
}
._pixelPilotMainWrapper .getColorsFromLayoutBtn {
    display: block;
    width: 100%;
    padding: 2px;
    background-color: #0078ff !important;
    margin-top: 6px;
    font-size: 12px;
    border-radius: 2px;
    transition: 0.3s;
    position: relative;
}
._pixelPilotMainWrapper .getColorsFromLayoutBtn:hover {
    color: #0078ff;
    background: white !important;
}
._pixelPilotMainWrapper .getColorsFromLayoutBtn.loading{
    pointer-events: none;
}

._pixelPilotMainWrapper ._pp_colorBox:hover ._pp_colorBoxClose {
    display: block;
}

._pixelPilotMainWrapper ._pp_scrollbar::-webkit-scrollbar {
    width: 4px;
}

._pixelPilotMainWrapper._pp_scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

._pixelPilotMainWrapper._pp_scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

/* ! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com */
._pixelPilotMainWrapper :is(*, ::after,::before) {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

._pixelPilotMainWrapper :is(::after,::before) {
    --tw-content: ''
}

._pixelPilotMainWrapper :is(:host,html) {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

._pixelPilotMainWrapper :is(
h1,
h2,
h3,
h4,
h5,
h6) {
    font-size: inherit;
    font-weight: inherit
}

._pixelPilotMainWrapper a {
    color: inherit;
    text-decoration: inherit
}

._pixelPilotMainWrapper :is(b, strong) {
    font-weight: bolder
}

._pixelPilotMainWrapper :is(code, kbd, pre, samp) {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

._pixelPilotMainWrapper small {
    font-size: 80%
}

._pixelPilotMainWrapper :is(sub, sup) {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

._pixelPilotMainWrapper :is(button,
input,
optgroup,
select,
textarea) {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

._pixelPilotMainWrapper :is(button,
select) {
    text-transform: none
}

._pixelPilotMainWrapper :is([type=button],
[type=reset],
[type=submit],
button) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

._pixelPilotMainWrapper :-moz-focusring {
    outline: auto
}

._pixelPilotMainWrapper :-moz-ui-invalid {
    box-shadow: none
}

._pixelPilotMainWrapper progress {
    vertical-align: baseline
}

._pixelPilotMainWrapper :is(::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
    height: auto
}


._pixelPilotMainWrapper ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

._pixelPilotMainWrapper :is(h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre) {
    margin: 0
}

._pixelPilotMainWrapper :is(input::placeholder,
textarea::placeholder) {
    opacity: 1;
    color: #9ca3af
}

._pixelPilotMainWrapper :is([role=button],
button) {
    cursor: pointer
}

:disabled {
    cursor: default
}

._pixelPilotMainWrapper :is(audio,
canvas,
embed,
iframe,
img,
object,
svg,
video) {
    display: block;
    vertical-align: middle
}

._pixelPilotMainWrapper :is(img,
video) {
    max-width: 100%;
    height: auto
}

._pixelPilotMainWrapper [hidden] {
    display: none
}

._pixelPilotMainWrapper :is(*,
::before,
::after) {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

._pixelPilotMainWrapper ::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

._pixelPilotMainWrapper .pointer-events-none {
    pointer-events: none
}

._pixelPilotMainWrapper .pointer-events-auto {
    pointer-events: auto
}

._pixelPilotMainWrapper .fixed {
    position: fixed
}

._pixelPilotMainWrapper .absolute {
    position: absolute
}

._pixelPilotMainWrapper .relative {
    position: relative
}

._pixelPilotMainWrapper .sticky {
    position: sticky
}

._pixelPilotMainWrapper .inset-0 {
    inset: 0px
}

._pixelPilotMainWrapper .bottom-0 {
    bottom: 0px
}

._pixelPilotMainWrapper .right-1 {
    right: 0.25rem
}

._pixelPilotMainWrapper .top-0 {
    top: 0px
}

._pixelPilotMainWrapper .top-1 {
    top: 0.25rem
}

._pixelPilotMainWrapper .right-0 {
    right: 0px
}

._pixelPilotMainWrapper .z-10 {
    z-index: 10
}

._pixelPilotMainWrapper .mb-3 {
    margin-bottom: 0.75rem
}

._pixelPilotMainWrapper .mt-2 {
    margin-top: 0.5rem
}

._pixelPilotMainWrapper .mt-4 {
    margin-top: 1rem
}

._pixelPilotMainWrapper .-ml-1 {
    margin-left: -0.25rem
}

._pixelPilotMainWrapper .block {
    display: block
}

._pixelPilotMainWrapper .flex {
    display: flex
}

._pixelPilotMainWrapper ._pp_grid {
    display: grid
}

._pixelPilotMainWrapper .hidden {
    display: none
}

._pixelPilotMainWrapper .aspect-square {
    aspect-ratio: 1 / 1
}

._pixelPilotMainWrapper .h-12 {
    height: 3rem
}

._pixelPilotMainWrapper .h-3 {
    height: 0.75rem
}

._pixelPilotMainWrapper .h-4 {
    height: 1rem
}

._pixelPilotMainWrapper .h-8 {
    height: 2rem
}

._pixelPilotMainWrapper .h-full {
    height: 100%
}

._pixelPilotMainWrapper .w-12 {
    width: 3rem
}

._pixelPilotMainWrapper .w-3 {
    width: 0.75rem
}

._pixelPilotMainWrapper .w-4 {
    width: 1rem
}

._pixelPilotMainWrapper .w-8 {
    width: 2rem
}

._pixelPilotMainWrapper .w-full {
    width: 100%
}

._pixelPilotMainWrapper .flex-shrink-0 {
    flex-shrink: 0
}

._pixelPilotMainWrapper .transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

._pixelPilotMainWrapper .cursor-move {
    cursor: move
}

._pixelPilotMainWrapper .cursor-pointer {
    cursor: pointer
}

._pixelPilotMainWrapper .select-none {
    -webkit-user-select: none;
    user-select: none
}

._pixelPilotMainWrapper .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

._pixelPilotMainWrapper .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

._pixelPilotMainWrapper .grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr))
}

._pixelPilotMainWrapper .items-center {
    align-items: center
}

._pixelPilotMainWrapper .justify-center {
    justify-content: center
}

._pixelPilotMainWrapper .justify-between {
    justify-content: space-between
}

._pixelPilotMainWrapper .gap-2 {
    gap: 0.5rem
}

._pixelPilotMainWrapper .gap-3 {
    gap: 0.75rem
}

._pixelPilotMainWrapper .gap-1 {
    gap: 0.25rem
}

._pixelPilotMainWrapper .space-y-1> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

._pixelPilotMainWrapper .overflow-hidden {
    overflow: hidden
}

._pixelPilotMainWrapper .overflow-y-auto {
    overflow-y: auto
}

._pixelPilotMainWrapper .rounded {
    border-radius: 0.25rem
}

._pixelPilotMainWrapper .rounded-full {
    border-radius: 9999px
}

._pixelPilotMainWrapper .border {
    border-width: 1px
}

._pixelPilotMainWrapper .border-2 {
    border-width: 2px
}

._pixelPilotMainWrapper .border-b {
    border-bottom-width: 1px
}

._pixelPilotMainWrapper .border-r {
    border-right-width: 1px
}

._pixelPilotMainWrapper .border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

._pixelPilotMainWrapper .border-gray-500 {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

._pixelPilotMainWrapper .border-red-500 {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68 / var(--tw-border-opacity))
}

._pixelPilotMainWrapper .border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

._pixelPilotMainWrapper .border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

._pixelPilotMainWrapper .border-opacity-10 {
    --tw-border-opacity: 0.1
}

._pixelPilotMainWrapper .border-opacity-40 {
    --tw-border-opacity: 0.4
}

._pixelPilotMainWrapper .border-opacity-50 {
    --tw-border-opacity: 0.5
}

._pixelPilotMainWrapper .bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

._pixelPilotMainWrapper .bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}

._pixelPilotMainWrapper .bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

._pixelPilotMainWrapper .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

._pixelPilotMainWrapper .bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

._pixelPilotMainWrapper .object-cover {
    object-fit: cover
}

._pixelPilotMainWrapper .object-left-top {
    object-position: left top
}

._pixelPilotMainWrapper .p-1 {
    padding: 0.25rem
}

._pixelPilotMainWrapper .p-2 {
    padding: 0.5rem
}

._pixelPilotMainWrapper .p-4 {
    padding: 1rem
}

._pixelPilotMainWrapper .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}

._pixelPilotMainWrapper .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}

._pixelPilotMainWrapper .pb-4 {
    padding-bottom: 1rem
}

._pixelPilotMainWrapper .text-center {
    text-align: center
}

._pixelPilotMainWrapper .text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}

._pixelPilotMainWrapper .font-bold {
    font-weight: 700
}

._pixelPilotMainWrapper .text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

._pixelPilotMainWrapper .text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity))
}

._pixelPilotMainWrapper .text-red-400 {
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity))
}

._pixelPilotMainWrapper .text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity))
}

._pixelPilotMainWrapper .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

._pixelPilotMainWrapper .text-opacity-70 {
    --tw-text-opacity: 0.7
}

._pixelPilotMainWrapper .opacity-0 {
    opacity: 0
}

._pixelPilotMainWrapper .shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

._pixelPilotMainWrapper .shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

._pixelPilotMainWrapper .outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}

._pixelPilotMainWrapper .duration-300 {
    transition-duration: 300ms
}

._pixelPilotMainWrapper .hover\:scale-110:hover {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (prefers-color-scheme: dark) {
    ._pixelPilotMainWrapper .dark\:bg-gray-400 {
        --tw-bg-opacity: 1;
        background-color: rgb(156 163 175 / var(--tw-bg-opacity))
    }
    
    ._pixelPilotMainWrapper .dark\:bg-gray-800 {
        --tw-bg-opacity: 1;
        background-color: rgb(31 41 55 / var(--tw-bg-opacity))
    }
    
    ._pixelPilotMainWrapper .dark\:bg-opacity-10 {
        --tw-bg-opacity: 0.1
    }
    
    ._pixelPilotMainWrapper .dark\:text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity))
    }
}